<!DOCTYPE html>
<html>
<head>
    <title>Add/Edit Race</title>
    <style>
        body {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>
<body>
    <h1>{{ form.instance.pk|yesno:"Edit Race,Add Race" }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <br><br><b>
    <a href="{% url 'race_list' %}">Back to Race List</a></b>
</body>
</html>
